@import '~variables'

.q-collapsible-cursor-pointer > .q-collapsible-inner > .q-item{
  background-color: $border
  border-radius: 13px;
}

.border-list {
  border: 1px solid $border;
  border-radius: 15px;
}

.q-field-label-inner {
  color: $tertiary
}